<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <a href="./"><img class= "e404" src="images/error-404.jpg" alt="error404"></a>
    
    
</body>

</html>