<footer>
 
    <section class="bottom-header" id="bottom-footer">

        
        <div class="grid-container">

            <div class="item grid-item-1"> 
                <a href="/">
                    <img class="logo" id="logo_footer" src="/images/Logo 2_2.png" alt="Logo de Filia">
                </a>
             
            </div>
<div>
    
</div>
            <div class="item grid-item-2">|</div>

            <div class="item grid-item-3"> 
                <a href="/" style="color: white; text-decoration: none;">
                    Sobre Filia
                </a>
            </div>

            <div class="item grid-item-4"> |</div>

            <div class="item grid-item-5"> 
                <a href="/" style="color: white; text-decoration: none;">
                    Preguntas frecuentes
                </a>
            </div>
            <div class="item grid-item-6">|</div>
          
            <div class="item grid-item-7"> 
                <a href="/" style="color: white; text-decoration: none;">
                    Contacto
                </a>

                
            </div>

            <div class="item grid-item-8"> | </div>

            <div class="item grid-item-9"> 
                <a href="/" style="color: white; text-decoration: none;">
                    Ser revendedor
                </a>

                
            </div>
            <div class="item grid-item-10"> | </div>

            <div class="item grid-item-11">
                <a >
                  
                </a>
    
            </div>
        </div> 

    </section>   
    <!-- <section class="upper-footer">
        
    <div class="grid-container">
        <div class="item grid-item-1"> 
        <a href="/">
            <img class="logo" src="/images/Logo 2_2.png" alt="Logo de Filia">
        </a>
        
        </div>

        <div class="item grid-item-2">
            <ul>
                <li><a class="categoria" href="#">Sobre Filia</a></li>
                <li><a class="categoria" href="#">Preguntas frecuentes</a></li>
                <li><a class="categoria" href="#">Contacto</a></li>
                <li><a class="categoria" href="#">Ser revendedor</a></li>  
            </ul>
        </div>
    
        <div class="item grid-item-3">
            <ul>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
            </ul>
        </div>
    </div>
    </section>

    <section class="lower-footer">
        <a href="#">
            <img class="logo_footer" src="/images/Logo 2.jpg" alt="Logo de Filia">
        </a>
        
    </section> -->
</footer>