<header>
   
    <section class="middle-header" style="opacity:1;">
       
        <section>
            <nav class= "iconos-top">
            <ul>
                <% if (locals.isLogged) { %>
                
                <div class="userUser"><%=locals.userLogged.username%></div>
                <li><a href="/users/profile"><img src="/images/users/<%=locals.userLogged.image  %> " alt="imagen de usuario"   style="  max-width: 100% ;border-radius: 50%;
                    max-height: 100%;"></a></li><br>
                 <% } %>
                <li><a style="color: rgb(245, 243, 243);" href="/users/login"><i class="fas fa-user-circle"></i></a></li><br>
                
                <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>   <br>             
                <li><a style="color: rgb(252, 249, 249);" href="/help"><i class="far fa-question-circle"></i></a></li><br>
                   
                    <li class="submenu"><span id="contadorCarrito">0</span>
                    <a style="color: rgb(255, 251, 251);" href="/productslists/cart"><i class="fas fa-shopping-cart"></i></a>
                    <div id="carrito">
                        <p class="vacio" style="display: none;">Carrito Vacio</p>
                        <table id="lista-carrito"class="u-full-width">
                            
                            <tbody>
                                
                            </tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar carrito</a>
                        <a href="/productslists/cart" id="vaciar-carrito" class="button u-full-width">Ir al carrito</a>
                        <br><br><div class="totalclass">
                            Total: <p id="total-header">$ 0</p>    
                        </div>
                    </div>
                    </li>
            </ul>
            </nav>

        </section>


        <section id="logoheader" >
            <a href="/">
                <img class="logo" src="/images/Logo 2_2.png" alt="Logo de Filia">
            </a>
            
            <form class="search-box" method="GET" action="/search" name="search">
                <input type="text" name="search_query" placeholder=" "/>
                <button type="reset"> </button>
                
                
            </form>
          
            
        </section>
        
    </section>

    
    <section class="bottom-header">

        
     <div class="header-bottons">
        <div class="grid-container">
         
            <div class="item grid-item-1"> 
                <form method="GET" action="/category" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" name="search_query" value="ARO">
                
                 </form> 
            </div>
            
            <div class="item grid-item-2">|</div>

            <div class="item grid-item-3"> 
                <form method="GET" action="/category" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" name="search_query" value="CADENITAS">
                
                 </form> 
            </div>

            <div class="item grid-item-4"> |</div>

            <div class="item grid-item-5"> 
                <form method="GET" action="/category" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" name="search_query" value="DIJE">
                
                 </form> 
            </div>
            <div class="item grid-item-6">|</div>
          
            <div class="item grid-item-7"> 
                <form method="GET" action="/category" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" name="search_query" value="PULSERA">
                
                 </form> 

                
            </div>

            <div class="item grid-item-8"> | </div>

            <div class="item grid-item-9"> 
                <form method="GET" action="/category" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" name="search_query" value="ANILLO">
                
                </form> 
            </div>
         
            <div class="item grid-item-10"> | </div>

            <div class="item grid-item-11">
  
                <form method="GET" action="/productslists" name="search">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" value="TODOS LOS PRODUCTOS">
                
                 </form> 
            
    
            </div>
        </div>      
        </div> 

    </section>

    
    <nav style="background-color: black; text-align: center;">
        <% if (locals.isLogged) { %>
            
            <i class="fas fa-plus" style="color: white"></i>
            <form class="header-bottons" method="GET" action="/productslists/create">     
                
                    <input  style="color: white; text-decoration: none;" type="submit" value="Crear un producto">
                
                
            
             </form> 
         
            
         <% } %>

        </nav>
</header>

