<header>
    <section class="top-header">
        <i class="fas fa-truck-moving">ENVIOS GRATIS A TODO EL PAIS</i>
    </section>
        
        
    <section class="middle-header" style="opacity:1;">
       
        <section>
            <nav class= "iconos-top">
            <ul>
                <% if (locals.isLogged) { %>
                
                <div class="userUser"><%=locals.userLogged.username%></div>
                <li><a href="/users/profile"><img src="/images/users/<%=locals.userLogged.image  %> " alt="imagen de usuario"   style="  max-width: 100% ;border-radius: 50%;
                    max-height: 100%;"></a></li><br>
                 <% } %>
                <li><a style="color: rgb(245, 243, 243);" href="/users/login"><i class="fas fa-user-circle"></i></a></li><br>
                
                <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>   <br>             
                <li><a style="color: rgb(252, 249, 249);" href="/help"><i class="far fa-question-circle"></i></a></li><br>
                   
                    <li class="submenu"><span id="contadorCarrito">0</span>
                    <a style="color: rgb(255, 251, 251);" href="/productslists/cart"><i class="fas fa-shopping-cart"></i></a>
                    <div id="carrito">
                        <p class="vacio" style="display: none;">Carrito Vacio</p>
                        <table id="lista-carrito"class="u-full-width">
                            
                            <tbody>
                                
                            </tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar carrito</a>
                        <a href="/productslists/cart" id="vaciar-carrito" class="button u-full-width">Ir al carrito</a>
                        <br><br><div class="totalclass">
                            Total: <p id="total-header">$</p>    
                        </div>
                    </div>
                    </li>
            </ul>
            </nav>

        </section>


        <section id="logoheader" >
            <a href="/">
                <img class="logo" src="/images/Logo 2_2.jpg" alt="Logo de Filia">
            </a>
            
            <form class="search-box" method="GET" action="/search" name="search">
                <input type="text" name="search_query" placeholder=" "/>
                <button type="reset"> </button>
                
                
            </form>
          
            
        </section>
        
    </section>



    
    <section class="bottom-header">

        
        <div class="grid-container">

            <div class="item grid-item-1"> 
                <a href="/" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    ARO
                </a>
            </div>

            <div class="item grid-item-2">|</div>

            <div class="item grid-item-3"> 
                <a href="/" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    CADENITAS
                </a>
            </div>

            <div class="item grid-item-4"> |</div>

            <div class="item grid-item-5"> 
                <a href="/" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    DIJE
                </a>
            </div>
            <div class="item grid-item-6">|</div>
          
            <div class="item grid-item-7"> 
                <a href="/" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    PULSERA
                </a>

                
            </div>

            <div class="item grid-item-8"> | </div>

            <div class="item grid-item-9"> 
                <a href="/" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    ANILLO
                </a>

                
            </div>
            <div class="item grid-item-10"> | </div>

            <div class="item grid-item-11">
                <a href="/productslists"style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    TODOS LOS PRODUCTOS
                </a>
    
            </div>
        </div> 

    </section>

    
    <nav style="background-color: black; text-align: center;">
        <% if (locals.isLogged) { %>
            <a style="color: rgb(245, 243, 243);" href="/productslists/create"><i class="fas fa-plus"></i>
                <p>Crear un producto</p></a>
            
         <% } %>

        </nav>
</header>

