body{
  margin: 0;
  font-family: 'Bree Serif', serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
     filter: invert(100%) 
}

code {
  font-family: 'Bree Serif', serif;
  
}

ul#accordionSidebar {
  background-image: linear-gradient(90deg,#a5b3b3 10%,#ad0909 100%);
  font-size: larger;
}
div .bg-info {
  background-color: rgb(160, 45, 36) !important;
}

h6 .text-primary {
  color: #bcc90a !important;
}
#imgfront1{
  filter: invert(0%) !important;
}
.last {
  text-align: center;
  color:black;
  font-size: 20px;
}
.imgfront1 {
  width: 50%;
  
}
.imgfront2 {
  width: 49%;
  margin-left: 200px;
  display: block;

}