<!DOCTYPE html>
<html lang="en">
                    <!-- head    -->
                    <%- include('../partials/head.ejs') %>
                    <!-- head    -->
    <body>
                   <!-- header -->
                   <%- include('../partials/header.ejs') %>
                   <!-- header -->
        
        <main style="background-image:url('images/Plantillas Feed-02_v2.jpg')">
            <div class="cart-page" id="carrito">

                <h1>Mi Carrito</h1>

                    <table id="lista-carrito">
                        <tbody>
                                
                        </tbody>
                     </table>
            </div>

            <section class="container-cart">
                <div class="total-price">
                    <table>
                        <tr>
                            <td style="color:rgb(0, 116, 116)">Subtotal:</td>
                            <td>$7000</td>
                        </tr>

                        <tr>
                            <td style="color:rgb(0, 116, 116)">IVA (27%):</td>
                            <td>$1890</td>
                        </tr>

                        <tr>
                            <td style="color:rgb(0, 116, 116)">Total:</td>
                            <td>$8890</td>
                        </tr>
                    </table>
                </div>

                <div class="login__grupo-btn-pago">
                    <button type="submit" class="formulario__btn">Ir al portal de pago!</button>
                </div>
            </section>
       <!-- site-shopping-info -->
     <%- include('../partials/site-shopping-info.ejs') %>
    <!-- site-shopping-info -->
        </main>

        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>