<!DOCTYPE html>
<html lang="en">
                    
                     <!-- head    -->
                     <%- include('../partials/head.ejs') %>
                     <!-- head    -->
     <body>
                    <!-- header -->
                    <%- include('../partials/header.ejs') %>
                    <!-- header -->
         
                    <% if (locals.errors) { %>
                        <% errors.forEach(error => {  %>
        
                            <p style="color:red;text-align: center; list-style:none">ERROR:</p>
                            <ul>
                             
                                   <li style="color:red;text-align: center; list-style:none">
                                    <p><%= error.msg %></p>
                                   </li>
                               
        
                                   <% }) %>
                                   <% } %>

            
        <main class="main-register">
            <form action="/users/login" method="POST" class="formulario-login" id="formulario">
                <h2>Inicia sesión aquí</h2>
                
                <div class="formulario__grupo" id="grupo__usuario">
                    <h3>¿No tienes cuenta? Crea tu cuenta aquí</h3><br><br>
                </div>
                <!-- Group: User -->
                <div class="formulario__grupo" id="grupo__nombre">
                    <label for="nombre" class="formulario__label">Email</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" name="email">

                    </div>

                    <div class="formulario__grupo" id="grupo__password2">
                        <label for="password2" class="formulario__label">Contraseña</label>
                        <div class="formulario__grupo-input">
                            <input type="password" class="formulario__input" name="password">
                            <br><br>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  checked="checked" name="remember_user">Recordarme
                            </label>
                        </div>
                    </div>

                    <div class="login__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Ingresar</button>
                    </div>
                    
                </div>
               
                  
            
                <div class="list-login"> 
                   
                    <p>Esto es todo lo que podés hacer al registrarte:</p><br>
                    <ul style="list-style-type:disc">
                        <li>Agilizar el proceso de compra</li> <br>
                        <li>Guardar direcciones de envío</li>   <br>
                        <li>Seguimientos de tus compras y revisar los pedidos</li> <br>
                        <li>Acumular puntos y acceder a promociones</li> <br>
                        <li>Hacer una lista con tus productos favoritos</li> <br>
                        <br>
                    </ul>
                   
                        <div class="login__grupo-btn-enviar">
                            <!-- <button  type="submit"class="formulario__btn">Crear cuenta</button> -->
                            <a href="/users/register"><button type="button"class="formulario__btn">Crear cuenta</button></a>
                      
                        </div>
                 
                </div>
            </form>   
            
            
          

            
        </main>

        <!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
    <script src="/js/carrito.js"></script>
    </body>
</html>